<!DOCTYPE html>
<html>
<head>
	<p style="color:blue;"><em>ADD_TEST_CASES</em></p>	
</head>
<body>	
	<div style="margin:150px 150px 150px 150px;border:solid blue 1px;">
	<form enctype="multipart/form-data" id="testcases" method="post" action=""  >
		{% csrf_token %}	
			{% for field in form.visible_fields %}
			<p>{{ field.errors }}
			{{ field.help_text }}
			{{ field.name }}&nbsp;&nbsp;&nbsp;&nbsp;{{ field }} <br/>
			</p>
		{% endfor %}
	<input type="submit" name="submit" value="ADD_CASE">
	</form>
	{% if error %}
	<p>{{ error }}</p>
	{% endif %}	



	</div>
</body>
</html>
