{% extends 'base.html' %}
{% block body_block %}
<div style="margin:50px 50px 50px 50px;border:solid blue 5px;">
	<form id="user" method="post" action="">
		{% csrf_token %} 
	
				<p style="color:black;">username: <input type="text" name="name"></p>
				<p style="color:black;">password: <input type="password" name="password"></p>
				<p style="color:black;"><input type="submit" name="submit"></input></p>

				{% if error %}
					<p style="color:blue;">{{ error }}</p>
				{% endif %}
		
</form>

</div>
{% endblock %}