{% extends 'base.html' %}
{% block body_block %}
	
	<div style="margin:50px 50px 50px 50px;border:solid blue 1px;">

		<p style="color:black;"><b>start contest</b></p> 

		<form id="set_time" method="post" action="" >
			{% csrf_token %}	
				<p style="color:black;">start date : <input type="date" name="sdate"></p>
				<p style="color:black;">start time :  <input type="time" name="stime"></p>
				<p style="color:black;">end date :  <input type="date" name="edate"></p>
				<p style="color:black;">end time : <input type="time" name="etime"></p>
		
			<input type="submit" name="submit" value="ADD_TIMER">

		</form>

		{% if errors %}
			<p style="color:blue;">{{ errors }}</p>
		{% endif %}	

	</div>


{% endblock %}

