{% extends 'base.html' %}


{% block body_block %}
    <div style="margin:50px 50px 50px 50px;border:solid blue 5px;">
        <form id="team" method="post" action="">
            {% csrf_token %}
                {% for field in form.visible_fields %}
                    {{ field.errors }}
                    {{ field.help_text }}
                    {{ field.name }} {{ field }} <br/>
                {% endfor %}   
                <br><br><br>
            <input type="submit" name="submit" value="REGISTER">
        </form>
        
        {% if error %}
        <p>{{ error }}</p>
        {% endif %}
    
        </div>    

{% endblock %}
